@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700');
@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/btn.css);

body {
    font-family: 'Open Sans', sans-serif;
    background: #17191C;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    box-shadow: inset 10px -46px 50px #17191C;
    background: url(../img/background-top.png) top no-repeat, url(../img/background-bottom.png) bottom no-repeat;
}

a {
    color: inherit;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.hero {
    width: 52%;
    margin-bottom: 187px;
}

.hero__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero__des—Åription {
    font-size: 21px;
    margin-bottom: 90px;
    padding-left: 5px;
}

.products {
    margin-bottom: 127px;
}

.products__roster {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.products__title {
    font-size: 36px;
    font-weight: 700;
    width: 330px;
    position: relative;
}

.products__img {
    position: relative;
    left: 330px;
    top: -46px;
}

.products__item {
    min-height: 450px;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    width: 362px;
    color: black;
}

.products__item-img {
    min-height: 150px;  
    background-color: black;
    margin-bottom: 29px;
    text-align: center;

    border-radius: 5px 5px 0px 0px; 
}

.products__item-title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 21px;
    margin-bottom: 20px;
}

.products__item-desc {
    font-size: 14px;
    padding-left: 21px;
    color: #303030;
    margin-bottom: 42px; 
}

.products__item-exp {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    display: inline-flex;
}

.products__list {
    padding-left: 27px;
    margin-bottom: 20px;
}

.products__element {
    display: inline-block;
}

.products__element:first-child {
    margin-right: 57px;
}

.games {
    margin-bottom: 149px;
}

.games__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.games__item {
    display: inline-block;
    width: 555px;
    vertical-align: top;
    position: relative;
    margin-right: 17px;
    overflow: hidden;
    margin-bottom: 54px;
}

.games__item-desc {
    width: 480px;
}

.games__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games__list-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 35px;
    min-height: 140px;
}

.games__item-date {
    font-size: 14px;
}

.games__item-title {
    font-size: 24px;
    font-weight: 700;
}

.about {
    margin-bottom: 75px;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 485px;
    height: 500px;
    background: url(../img/group.png) center center / cover no-repeat;
}

.about__item {
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    border-radius: 5px; 
    padding: 67px 75px;
    display: inline-block;
    vertical-align: top;
    width: 790px;
    height: 455px;
    margin-left: -130px;
    margin-top: 94px;
}

.about__item-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 41px;
}

.about__item-desc {
    width: 510px;
    margin-bottom: 81px;
    line-height: 27px;
}

.pagination {
    text-align: center;
}

.pagination__display, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__display {
    margin-right: 26px;
    font-size: 16px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pagination__item-active .pagination__link {
    background: #8F00FF;
}

.about__btn {
    background: transparent;
    border: 1px solid #fff;
}

.products__btn {
    padding: 18px 30px;
    margin-left: 24px;
    border: 1px solid;
    border-color: #8F00FF;
    background-color: white;
    color: #8F00FF;
}

.products__btn:hover {
    background-color: #8F00FF;
    color: #fff;
}

.contacts__desc {
    font-size: 11px;
    color: #9A9A9A;
    font-style: normal;
    margin: 0;
}